# References:
# - https://git-scm.com/docs
# - https://git-scm.com/docs/git-config
# - https://github.com/git-ecosystem/git-credential-manager/blob/release/docs/README.md

[user]
	name = Adolfo Correia
	email = {{ .email }}

[init]
	defaultBranch = master

{{ if eq .chezmoi.os "windows" -}}
[web]
	browser = links

{{ else if eq .chezmoi.os "linux" -}}
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret

{{ end -}}
