[user]
	name = Adolfo Correia
	email = {{ .email }}

{{ if eq .chezmoi.os "linux" -}}
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
{{ else if eq .chezmoi.os "windows" -}}
[credential]
	helper = manager-core

[credential "helperselector"]
	selected = manager-core
{{ end -}}
