"*":
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  core:
    themes: [
      "gruvbox-dark-ui"
      "gruvbox"
    ]
  editor:
    scrollPastEnd: true
  "julia-client":
    currentVersion: "0.12.6"
    firstBoot: false
    juliaOptions:
      bootMode: "Cycler"
      startupArguments: [
        "--project=."
      ]
    uiOptions:
      enableMenu: true
      enableToolBar: true
  "tool-bar":
    position: "Left"
  "uber-juno":
    disable: true
  "vim-mode-plus":
    useClipboardAsDefaultRegister: false

